{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <article>
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
        <h1>Profil de {{ app.user.email }}</h1>
        <ul>
            <li>
                Email : {{ app.user.email }}
            </li>
            <li>
                Mot de Passe : ****** <a href="{{ path('update_password') }}" role="button" class="contrast outline">Modifier mon mot de passe</a>
            </li>
        </ul>
    </article>
    <article>
        <h1>Supprimer le compte</h1>
        <a href="{{ path('delete_account') }}" role="button" class="contrast outline">Supprimer mon compte</a>
    </article>
{% endblock %}
